
body{
    font-size: 100%;
}
header img{
    float:left;
}
h2{
    color : maroon;
}
main{
    clear :left;
}
span.shadow {
    color:#800000;
    text-shadow: 1px 1px 3px;
}
footer p {
    text-align: center;
}